@font-face {
  font-family: 'elkjop-cont-icons';
  src: url('https://raw.githubusercontent.com/Slanfan/goods-intake-font-icons/main/elkjop-font-icons.woff') format('woff');
}
.icon-pallet:before {
  content: "\e900";
}
